.greeting-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 1vh;
    left: 30px;
}

.greeting-heading {
    /* color: #fff; */
    font-size: 12px;
    font-weight: 400;
}

.greeting-location {
    font-size: 1.2rem;
    /* color: #fff; */
}

@media screen and (max-width: 767px) {
    .greeting-container {
        left: 15px;
    }

    .greeting-heading {
        font-size: 0.8rem;
        font-weight: 600;
    }

    .greeting-location {
        font-size: 12px;
        /* color: #fff; */
    }
}

/* ************* Larger Devices ***************  */
@media screen and (min-width: 768px) {
    .greeting-container {
        /* left: 20px; */
    }
}