.forecast-container {
    display: flex;
    height: 100vh;
    user-select: none;
    /* background: red; */
}

.day-wise-main-container {
    display: flex;
    flex-direction: column;
}

.day-wise-scroll {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    top: 10vh;
    border: 1px solid #fff;
    border-radius: 10px;
    backdrop-filter: blur(2px) saturate(110%);
    -webkit-backdrop-filter: blur(2px) saturate(152%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.fc-day-wise-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8vh;
    /* background: dodgerblue; */
}

.fc-right-container {
    position: absolute;
    /* background: rgb(201, 241, 5); */
}

.daily-container {
    /* background: mediumspringgreen; */
    height: 175px;
    width: 100%;
}

.fc-right-middle-container {
    position: absolute;
    height: 160px;
    width: 100%;
    top: 175px;
    /* background: blueviolet; */
}

.fc-right-bottom-container {
    position: absolute;
    width: 100%;
    min-height: calc(92vh - 355px);
    flex: 1;
    top: 325px;
    display: flex;
}

.forecast-search {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 3vh;
}



/***************************** FC-L-day-wise *******************************/
.fc-sub-day-wise-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    /* top: 10vh; */
    /* background: coral; */
    overflow-y: auto;
}

.fc-sub-day-wise-cont:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .fc-rb-wind-container:hover, .hourly-forecast-items:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
} */

.weather-card {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 85px;
}

.weather-icon img {
    width: 45px;
    height: 40px;
    margin-top: 10px;
}

.weather-details {
    flex: 1;
    max-width: 52%;
    margin-left: 10px;
}

.weather-day {
    font-size: 16px;
    font-weight: 500;
}

.weather-condition {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.weather-temp {
    text-align: center;
    margin-left: 25px;
}

.temp-high {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 3px 0;
}

.temp-low {
    font-size: 15px;
    /* color: #777; */
}

.weather-precipitation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.weather-precipitation img {
    width: 28px;
    height: 26px;
    margin: 0px 0 5px 0;
}

.precipitation-chance {
    font-size: 16px;
    color: #007bff;
    margin-left: 5px;
}



/***************************** FC-rt-weather-card *******************************/

.fc-rt-weather-card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 195px;
    /* background-color: #f0f8ff; */
}

.forecast-top-bg-container {
    position: absolute;
    top: 15px;
    right: 1%;
}

.forecast-top-bg {
    height: 155px;
    width: 59vw;
    border-radius: 10px;
    opacity: 0.7;
}

.fc-rt-weather-date {
    font-size: 16px;
    /* color: #666; */
    margin-bottom: 5px;
}

.fc-rt-weather-temp {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 5px;
}

.fc-rt-temp-high,
.fc-rt-temp-low {
    font-size: 36px;
    margin: 0 5px;
}

.fc-rt-temp-low,
.fc-rt-temp-separator {
    font-size: 34px;
}

.fc-rt-weather-icon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.fc-rt-weather-condition {
    font-size: 16px;
    color: #007bff;
}


/***************************** FC-rm-hourly-container *******************************/

.hourly-forecast-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px 10px 30px;
    /* background-color: red; */
    height: 100%;
}

.hourly-forecast-heading {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.hourly-forecast-items {
    display: flex;
    gap: 10px;
    height: 100%;
    width: 100%;
    /* background: #fff; */
    border: 1px solid #fff;
    padding: 15px 0;
    border-radius: 10px;
    overflow: auto;

    backdrop-filter: blur(2px) saturate(110%);
    -webkit-backdrop-filter: blur(2px) saturate(152%);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.hourly-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    /* background-color: black; */
}

.hourly-temp {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}

.hourly-icon {
    width: 35px;
    height: 30px;
    margin: 15px 0 0 0;
}

.hourly-time {
    font-size: 12px;
}


/***************************** FC-rbl-daily-container *******************************/
.fc-rbl-container,
.fc-rbr-container {
    width: 50%;
    padding: 10px 30px;
    height: calc(92vh - 355px);
}

.fc-rbr-container {
    /* background-color: #2fd5ff; */
}



/***************************** fc-rb-cards *******************************/

.fc-rb-wind-containers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.fc-rb-wind-container {
    height: calc(20vh - 5px);
    background-color: #f3f3f3;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 5px);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;

    backdrop-filter: blur(2px) saturate(110%);
    -webkit-backdrop-filter: blur(2px) saturate(152%);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.fc-rb-wind-header {
    font-size: 12px;
    margin-bottom: 5px;
    /* Reduce bottom margin */
}

.fc-rb-wind-title {
    font-size: 14px;
    font-weight: 500;
}

.fc-rb-wind-body {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.weather-metrics-container {
    display: flex;
    padding-top: 10px;
}

.weather-metric-icons {
    font-size: 12px;
    margin-left: 5px;
}

.fc-rb-humidity-body {
    display: flex;
    justify-content: space-evenly;
    height: 75px;
}

.fc-rb-wind-icon {
    width: 20px;
    /* height: 20px; */
    margin-top: 1px;
}

.fc-rb-wind-speed {
    font-size: 22px;
    font-weight: 400;
}

.rise-set-cont {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
}

.rise-set-time {
    display: flex;
    flex-direction: column;
    /* font-size: 16px; */
    font-size: 22px;
    font-weight: 400;
}

.rise-set-time-span {
    font-size: 12px;
}

.fc-rb-humidity {
    position: relative;
    top: 10px;
    left: -18%;
}

.fc-rb-wind-speed-container {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-between;
    width: 95%;
    margin: 15px 0 0 0;
}

.fc-rb-wind-speed-desc {
    font-size: 12px;
}


.fc-rb-wind-speed-descrptn {
    margin-top: 10px;
}

.fc-rb-wind-description {
    font-size: 12px;
    display: block;
    /* color: #555; */
}

.fc-rb-wind-desc-span {
    display: block;
}

.light-mode .fc-rb-wind-container,
.light-mode .day-wise-scroll,
.light-mode .hourly-forecast-items {
    background-color: rgba(190, 190, 190, 0.1);
    border: 1px solid rgba(0, 0, 0, 1) !important;
}

.light-mode .hourly-forecast-heading,
.light-mode .fc-rb-wind-icons {
    color: #000;
}

.dark-mode .hourly-forecast-heading,
.dark-mode .fc-rb-wind-icon {
    color: #fff;
}

.cloudy-theme .fc-rb-wind-containers span {
    color: #fff !important;
}

@media screen and (max-width: 767px) {
    .fc-day-wise-container {
        height: 200px;
        width: 100%;
    }

    .fc-day-wise-container::after {
        content: '';
        display: block;
        width: 100%;
        height: 10px;
        border-top: 1px solid #959595;
        /* box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.3); */
        position: absolute;
        top: 27vh;
    }

    .light-mode .fc-day-wise-container::after {
        /* box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.3); */
    }

    .fc-right-container {
        top: 37vh;
        min-height: calc(92vh - 30vh);
        width: 100%;
        overflow-y: auto;
    }

    .day-wise-scroll {
        top: 0vh;
        border: none;
    }

    .fc-right-top-container {
        margin: 0 10px 10px 10px;
    }

    .daily-container {
        position: absolute;
        width: 96%;
        height: 300px;
        overflow: auto;
        border: 1px solid #fff;
        border-radius: 12px;
    }

    .fc-right-middle-container {
        top: 47vh;
    }

    .fc-right-bottom-container {
        /* overflow: auto; */
        top: 68vh;
        /* top: 330px; */
        flex-direction: column;
    }

    .fc-sub-day-wise-cont {
        /* flex-direction: row; */
        /* top: 10vh; */
        overflow-y: auto;
    }

    .fc-day-wise-item {
        height: 125px;
        min-width: 200px;
        /* background: black; */
        border: 2px solid #fff;
    }

    .weather-card {
        height: 75px;
    }

    .hourly-forecast-container {
        padding: 0px 10px 5px 10px;
        /* height: 103%; */
    }

    .fc-rt-weather-card {
        justify-content: center;
        padding: 10px 10px 10px 30px;
        position: absolute;
        top: 7vh;
    }

    .forecast-top-bg-container {
        top: 40%;
        right: 4%;
    }

    .forecast-top-bg {
        height: 113px;
        width: 50vw;
        border-radius: 20px;
    }

    .fc-rbl-container,
    .fc-rbr-container {
        width: 100%;
        padding: 10px;
    }

    .fc-rb-wind-container {
        height: 130px;
        width: 100%;
    }

    .fc-rb-wind-speed-container {
        width: 100%;
    }

    .fc-rb-wind {
        /* position: relative;
        top: 20px; */
        position: absolute;
        top: 65px;
    }

    .fc-rb-wind-speed-fs,
    .fc-rb-wind-speed-descrptn {
        font-size: 10px;
    }

    .fc-rb-wind-speed-descrptn {
        margin-top: 8px;
    }

    .fc-rb-wind-desc-span {
        display: inline;
    }

    .fc-rb-humidity-body {
        position: relative;
        top: -15px;
    }

    .fc-rb-humidity {
        left: -8%;
    }
}

@media screen and (min-width: 768px) {
    .fc-day-wise-container {
        height: 92vh;
        width: 25%;
        position: fixed;
    }

    .day-wise-scroll {
        margin-left: 20px;
        height: calc(80vh - 0px);
    }

    .fc-right-container {
        top: 8vh;
        left: 25%;
        height: 92vh;
        width: 75%;
        overflow: auto;
    }

    .fc-rt-weather-card {
        justify-content: center;
        padding: 20px 10px 10px 30px;
        /* border: 1px solid #fff; */
        border-radius: 5px;
    }

    .fc-rb-wind-body {
        margin-top: 15px;
    }
}

/* Forecast.css */
/* .wind-arrow {
    width: 24px;
    height: 24px;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  } */