.home-location-input-con {
  background-image: unset;
}

.location-search-input {
  background: none;
  border: none;
  border-bottom: 3px solid #fff;
  padding: 5px 20px;
  margin: 0 20px;
  /* border-bottom: linear-gradient(90deg, rgba(222, 0, 75, 1) 0%, rgba(191, 70, 255, 1) 49%, rgba(0, 212, 255, 1) 100%); */
}

.location-search-input:active,
.location-search-input:focus {
  outline: none;
}


.light-mode .location-search-input {
  border-bottom: 3px solid #000;
}

.light-mode .location-search-input,
.light-mode .location-search-input::placeholder {
  color: #000 !important;
}

.location-search-input,
.location-search-input::placeholder {
  color: #fff;
}


.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 50px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  color: rgb(37, 37, 37);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.buttonn {
  /* padding: 8px 40px; */
  height: 35px;
  width: 120px;
  border: 0;
  border-radius: 10rem;
  color: #fff;
  background: rgba(0, 0, 0, 1);
  /* background: linear-gradient(135deg, #BFF0FA 0%, #006eff 100%); */
  cursor: pointer;
}

.buttonn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.loader {
  color: #fff;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-left-color: transparent;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
  position: relative;
  top: 3px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button:active {
  transform: scale(0.97);
}

/* .button:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
} */

.search-alert-container {
  position: absolute;
  top: -50px;
  left: 110%;
  width: 35vw;
  color: red;
  background-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(2px);
  padding: 10px 0 0 0;
  border-radius: 3px;
  margin-top: 5px;
  z-index: 10;
  overflow: hidden;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.column p {
  color: #f53234;
  font-size: 18px;
  font-weight: 600;
}

.column span {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
}

.alert-icon {
  color: #f53234;
  height: 25px;
  margin: 12px 15px;
}

.alert-close-icon {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.alert-close-icon:hover {
  color: #a3a3a3;
}

.light-mode .search-alert-container {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.search-alert-content-container {
  display: flex;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #f0f0f0;
  /* border-radius: 3px; */
  overflow: hidden;
  margin-top: 5px;
}

.progress-bar::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f53234;
  animation: progress 3s linear;
}

@keyframes progress {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}



@keyframes effect {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ************* Smaller Devices ***************  */
@media screen and (max-width: 767px) {
  .location-search-input {
    width: 45%;
    margin: 0 12px 0 0;
  }

  .forecast-search .location-search-input {
    width: 60%;
    margin: 0 15px 0 10px;
  }

  .buttonn {
    /* padding: 8px 25px; */
    width: 115px;
  }

  .home-search .buttonn {
    width: 110px;
  }

  .search-alert-container {
    top: -120px;
    left: 20%;
    width: 66vw;
  }
}